<?php

/* @var $block \Magento\Framework\View\Element\Template */

/** @var \Mbs\HomeMaterial\ViewModel\ActivityList $viewModel */
$viewModel = $block->getData('viewModel');
?>

list activity

<div id="main_content_wrap" class="outer">
<section id="main_content" class="inner">

<ul id="demoOne" class="demo">
  <?php foreach ($viewModel->getActivityListOrderedAlphabetically() as $option): ?>
  <li>label: <?php echo $option->getLabel(); ?>, value: <?php echo $option->getValue(); ?></li>

  <?php

  $src = $option->getLabel() ;


  $image_source_files[] = $src;

  ?>  

<?php endforeach; ?>
</ul>
</section>
</div> 